body{
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(164, 148, 192);
}
.content{
  height: 100vh;
}
.form-check-input:checked{
  background:#673AB7;
  border-color: #673AB7;
}
.btn-dark{
  background: #673AB7 !important;
}